*
{
    background-color:#121212;
    width:100%;
    margin:0px;
    padding: 0px;
}
body
{
    display:flex;
    justify-content: center;
    align-content: center;
}
h3{
    color: white;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 2rem;
}
.box
{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    column-gap: 7vw;
    color: beige;
}
.container
{
    column-gap:2vh;
    max-width: 75vw;
}
hr{
    color: wheat;
}
input
{
    background-color: white;
    margin-top: 1vh;
    border-radius: 1vw;
    height:70vh;
}
.btn
{
    width:fit-content;
}
#question
{
    display:none;
    color:antiquewhite;
    font-size: 1.5rem;
}
#display
{
    color:aliceblue;
    font-size: 2rem;
}
#find
{
    margin-top: 1.5vh;
}
@media (max-width: 768px) 
{
    .container{
        max-width: 90%;
    }
    .box{
        font-size: 1.25rem;
        display:block;
    }
    input
    {
       padding:0.75rem;
       margin-bottom: 1rem;
       font-size: 80%;
    }

}
